@import url("https://cdn.jsdelivr.net/npm/segoe-fonts@1.0.1/segoe-fonts.css");
* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "righteous";
  src: url(assets/fonts/Righteous-Regular.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "Abril";
  src: url(assets/fonts/AbrilFatface-Regular.ttf);
}

body header {
  position: fixed;
  z-index: 100;
  width: 100%;
}

@media screen and (max-width: 480px) {
  body header {
    position: relative;
  }
}

body header nav {
  border-bottom: yellow solid 3px;
}

body header nav #navbarTogglerDemo02 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 10px;
}

@media screen and (max-width: 480px) {
  body header nav #navbarTogglerDemo02 {
    margin-left: 115px;
    padding-right: 3;
    text-align: right;
    float: right;
  }
}

body header nav .mon_menu {
  width: 73%;
}

body header nav .mon_menu #menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

@media screen and (max-width: 480px) {
  body header nav .mon_menu #menu-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 20px;
    float: right;
    padding-right: 3;
    text-align: right;
    justify-items: flex-end;
  }
}

body header nav .mon_menu #menu-top li {
  list-style-type: none;
  display: inline-block;
}

body header nav .mon_menu #menu-top li a {
  color: white;
  font-family: "righteous";
  font-weight: 600;
  font-size: 30px;
  padding: 0 15px 0 15px;
  list-style-type: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

@media screen and (max-width: 480px) {
  body header nav .mon_menu #menu-top li a {
    font-size: 20px;
  }
}

body header nav .mon_menu #menu-top li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

body header nav .equaliser {
  position: absolute;
  top: 50%;
  left: 75%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 480px) {
  body header nav .equaliser {
    top: 18%;
    left: 52%;
  }
}

@media screen and (min-width: 1024px) {
  body header nav .equaliser {
    left: 82%;
  }
}

body header nav .equaliser .eq_element {
  min-height: 20px;
  width: 20px;
  display: block;
  position: relative;
}

body header nav .equaliser .eq_element span {
  width: 2px;
  background: yellow;
  position: absolute;
  bottom: 0;
  height: 5px;
}

body header nav .equaliser .eq_element .first_line {
  left: 0;
  -webkit-animation: first_line_eq 0.5s 0.9s forwards infinite;
          animation: first_line_eq 0.5s 0.9s forwards infinite;
}

body header nav .equaliser .eq_element .second_line {
  left: 4px;
  -webkit-animation: second_link_eq 0.5s 0.9s forwards infinite;
          animation: second_link_eq 0.5s 0.9s forwards infinite;
}

body header nav .equaliser .eq_element .third_line {
  left: 9px;
  -webkit-animation: third_link_eq 0.5s 0.9s forwards infinite;
          animation: third_link_eq 0.5s 0.9s forwards infinite;
}

body header nav .equaliser .eq_element .fourth_line {
  left: 14px;
  -webkit-animation: fourth_link_eq 0.4s 0.9s forwards infinite;
          animation: fourth_link_eq 0.4s 0.9s forwards infinite;
}

body header nav .equaliser .eq_element .fifth_line {
  left: 19px;
  -webkit-animation: fifth_link_eq 0.4s 0.9s forwards infinite;
          animation: fifth_link_eq 0.4s 0.9s forwards infinite;
}

@-webkit-keyframes first_line_eq {
  0% {
    height: 7px;
  }
  20% {
    height: 10px;
  }
  60% {
    height: 16px;
  }
  80% {
    height: 10px;
  }
  100% {
    height: 4px;
  }
}

@keyframes first_line_eq {
  0% {
    height: 7px;
  }
  20% {
    height: 10px;
  }
  60% {
    height: 16px;
  }
  80% {
    height: 10px;
  }
  100% {
    height: 4px;
  }
}

@-webkit-keyframes second_link_eq {
  0% {
    height: 10px;
  }
  20% {
    height: 13px;
  }
  60% {
    height: 19px;
  }
  80% {
    height: 12px;
  }
  100% {
    height: 3px;
  }
}

@keyframes second_link_eq {
  0% {
    height: 10px;
  }
  20% {
    height: 13px;
  }
  60% {
    height: 19px;
  }
  80% {
    height: 12px;
  }
  100% {
    height: 3px;
  }
}

@-webkit-keyframes third_link_eq {
  0% {
    height: 17px;
  }
  20% {
    height: 10px;
  }
  60% {
    height: 15px;
  }
  80% {
    height: 7px;
  }
  100% {
    height: 20px;
  }
}

@keyframes third_link_eq {
  0% {
    height: 17px;
  }
  20% {
    height: 10px;
  }
  60% {
    height: 15px;
  }
  80% {
    height: 7px;
  }
  100% {
    height: 20px;
  }
}

@-webkit-keyframes fourth_link_eq {
  0% {
    height: 4px;
  }
  20% {
    height: 6px;
  }
  60% {
    height: 2px;
  }
  80% {
    height: 8px;
  }
  100% {
    height: 6px;
  }
}

@keyframes fourth_link_eq {
  0% {
    height: 4px;
  }
  20% {
    height: 6px;
  }
  60% {
    height: 2px;
  }
  80% {
    height: 8px;
  }
  100% {
    height: 6px;
  }
}

@-webkit-keyframes fifth_link_eq {
  0% {
    height: 8px;
  }
  20% {
    height: 5px;
  }
  60% {
    height: 9px;
  }
  80% {
    height: 4px;
  }
  100% {
    height: 7px;
  }
}

@keyframes fifth_link_eq {
  0% {
    height: 8px;
  }
  20% {
    height: 5px;
  }
  60% {
    height: 9px;
  }
  80% {
    height: 4px;
  }
  100% {
    height: 7px;
  }
}

body .slider_bootstrap {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 10px;
  color: #999;
}

@media screen and (max-width: 480px) {
  body .slider_bootstrap {
    display: none;
  }
}

body .slider_bootstrap .carousel-indicators {
  padding-bottom: 20%;
}

@media screen and (min-width: 1024px) {
  body .slider_bootstrap {
    padding-bottom: 10%;
  }
}

body .slider_bootstrap .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 0 25% 0;
  font-family: "Abril", sans-serif;
  font-weight: bold;
  list-style-type: none;
  color: white;
}

body .slider_bootstrap .carousel-caption h3 a {
  font-size: 50px;
  color: whitesmoke;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

body .slider_bootstrap .carousel-caption h3 a:hover {
  color: yellow;
}

body .slider_bootstrap .carousel-caption p {
  font-family: "Lato";
  font-size: 20px;
  color: whitesmoke;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  margin-bottom: 0;
}

body .slider_bootstrap .carousel-caption p:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  list-style-type: none;
  color: yellow;
}

body .slider_bootstrap .carousel-control-next {
  padding-bottom: 15%;
}

body .slider_bootstrap .carousel-control-prev {
  padding-bottom: 15%;
}

body #vinyle_count {
  height: 100vh;
  padding-top: 0px;
  padding-bottom: 0px;
}

@media screen and (max-width: 480px) {
  body #vinyle_count {
    padding-top: 0px;
  }
}

@media screen and (min-width: 1024px) {
  body #vinyle_count {
    height: 80vh;
  }
}

body #vinyle_count #img_home {
  width: 100vw;
}

@media screen and (max-width: 480px) {
  body #vinyle_count #img_home {
    margin-right: 0px;
  }
}

body #vinyle_count #img_home .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 400px;
  padding-top: 150px;
}

@media screen and (max-width: 480px) {
  body #vinyle_count #img_home .row {
    padding-top: 10px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1024px) {
  body #vinyle_count #img_home .row {
    padding-top: 75px;
  }
}

body #vinyle_count #img_home .row .test:first-child {
  background-image: url("assets/img/blues_img.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0px;
  padding-top: 160px;
}

@media screen and (max-width: 480px) {
  body #vinyle_count #img_home .row .test:first-child {
    padding-top: 30px;
  }
}

body #vinyle_count #img_home .row .test:first-child a {
  font-family: "Abril";
  color: black;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

@media screen and (max-width: 480px) {
  body #vinyle_count #img_home .row .test:first-child a {
    padding-top: 30px;
  }
}

body #vinyle_count #img_home .row .test:first-child a h2 {
  text-align: center;
  padding-bottom: 10px;
}

@media screen and (max-width: 480px) {
  body #vinyle_count #img_home .row .test:first-child a h2 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 480px) {
  body #vinyle_count #img_home .row .test:first-child a p {
    font-size: 10px;
    text-align: center;
  }
}

body #vinyle_count #img_home .row .test:nth-child(2) {
  background-image: url("assets/img/disco_img.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0px;
  padding-top: 160px;
}

@media screen and (max-width: 480px) {
  body #vinyle_count #img_home .row .test:nth-child(2) {
    padding-top: 30px;
  }
}

body #vinyle_count #img_home .row .test:nth-child(2) a {
  font-family: "Abril";
  color: black;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

body #vinyle_count #img_home .row .test:nth-child(2) a h2 {
  text-align: center;
  padding-bottom: 10px;
}

@media screen and (max-width: 480px) {
  body #vinyle_count #img_home .row .test:nth-child(2) a h2 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 480px) {
  body #vinyle_count #img_home .row .test:nth-child(2) a p {
    font-size: 10px;
    text-align: center;
  }
}

body #vinyle_count #img_home .row .test:nth-child(3) {
  background-image: url("assets/img/jazz_img.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0px;
  padding-top: 160px;
}

@media screen and (max-width: 480px) {
  body #vinyle_count #img_home .row .test:nth-child(3) {
    padding-top: 30px;
  }
}

body #vinyle_count #img_home .row .test:nth-child(3) a {
  font-family: "Abril";
  color: black;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

body #vinyle_count #img_home .row .test:nth-child(3) a h2 {
  text-align: center;
  padding-bottom: 10px;
}

@media screen and (max-width: 480px) {
  body #vinyle_count #img_home .row .test:nth-child(3) a h2 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 480px) {
  body #vinyle_count #img_home .row .test:nth-child(3) a p {
    font-size: 10px;
    text-align: center;
  }
}

body #vinyle_count #img_home .row .test:last-child {
  background-image: url("assets/img/rock_img.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0px;
  padding-top: 160px;
}

@media screen and (max-width: 480px) {
  body #vinyle_count #img_home .row .test:last-child {
    padding-top: 30px;
  }
}

body #vinyle_count #img_home .row .test:last-child a {
  font-family: "Abril";
  color: black;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

body #vinyle_count #img_home .row .test:last-child a h2 {
  text-align: center;
  padding-bottom: 10px;
}

@media screen and (max-width: 480px) {
  body #vinyle_count #img_home .row .test:last-child a h2 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 480px) {
  body #vinyle_count #img_home .row .test:last-child a p {
    font-size: 10px;
    text-align: center;
  }
}

body .map_form {
  background-color: #333333;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .map_form .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 100vh;
}

body .map_form .container-fluid .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
}

body .map_form .container-fluid .container .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

@media screen and (max-width: 480px) {
  body .map_form .container-fluid .container .form-row {
    margin-right: 0px;
  }
}

body .map_form .container-fluid .container .form-row #formulaire {
  width: 50%;
  height: 400px;
  background-color: #333333;
  color: white;
  padding-top: 100px;
}

@media screen and (max-width: 480px) {
  body .map_form .container-fluid .container .form-row #formulaire {
    width: 100%;
    padding-top: 35px;
  }
}

body .map_form .container-fluid .container .form-row #formulaire h2 {
  font-family: "Righteous";
  font-size: 30px;
  text-align: center;
  color: white;
  padding-top: 20px;
}

body .map_form .container-fluid .container .form-row #formulaire .form-control input {
  color: white;
}

body .map_form .container-fluid .container .form-row #formulaire .form-control textarea {
  background-color: transparent;
  color: white;
}

body .map_form .container-fluid .container .form-row #formulaire #submit {
  background-color: white;
  color: #333333;
  margin-top: 20px;
  margin-left: 15px;
}

body .map_form .container-fluid .container .form-row #map {
  width: 50%;
  height: 400px;
  z-index: 99;
}

@media screen and (max-width: 480px) {
  body .map_form .container-fluid .container .form-row #map {
    width: 100%;
  }
}

body #actu {
  padding-top: 100px;
}

body #actu .article_actu {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  height: 100vw;
}

@media screen and (min-width: 1024px) {
  body #actu .article_actu {
    width: 50%;
    height: 50%;
    padding-top: 300px;
  }
}

footer {
  width: 100vw;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #999;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 30px;
  padding-top: 5px;
}

footer .container ul {
  font-family: "Lato";
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container ul li {
  list-style-type: none;
  padding-right: 10px;
}
/*# sourceMappingURL=style.css.map */